/* Empty. Add your own CSS if you like */
.center {
    text-align: center;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}

.supeer-list{
  padding-right: 16px;
}

.supeer-list .item{
  border-color: transparent;

}

.supeer-list input[type="text"], .supeer-list textarea{
  border: 2px #6A6A6A solid;
    border-radius: 0px;
}
