/* Empty. Add your own CSS if you like */

a {
  color: inherit;
}

.center {
    text-align: center;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}

.title {
    font-size: 25px !important;
}

.bold {
    font-weight: bold;
}

.light {
    font-weight: bold;
}

.no-border {
  border: none;
}

.supeer-list{
  padding-right: 16px;
}

.supeer-list .item{
  border-color: transparent;
}

.logo-preview {
    max-height: 65px;
}

.supeer-list input[type="text"], .supeer-list input[type="tel"], .supeer-list textarea, .supeer-list select{
  border: 2px #6A6A6A solid;
  border-radius: 0px;
  padding: 5px;
}

.supeer-list select{
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  padding: .4em 2em .4em 1em;
  width: 100%;
  background-color: #FFF;
}
.select-wrapper {
  width: 100%;
  display: inline-block;
}
.select-wrapper::after {
  content: '';
  position: absolute;
  z-index: 1;
  right: 0px;
  top: 69%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
  width: 40px;
  height: 34px;
  background: url("../img/icon-select.svg") no-repeat center center;
  pointer-events: none;
  background-color: #6A6A6A;
}

.service-details-slider {
  margin-bottom: -6px;
}

.welcome-title{
    text-align: left;
}

#welcome-top{
    background-image: url('../img/home.jpg');
    height: 250px;

}
.welcome-top-text{
    text-align: center;
    padding-top: 20%;
    padding-left: 5%;
    padding-right: 5%;
    font-size:1.8em;
    line-height: 1.8em;
}

.color-underline{
    text-decoration-color: red;
}

#welcome-center{
    height: 150px;
    background-color: #4D4E53;
    text-align: center;
    padding: 0 5%;
    color:white
}

.welcome-center-hightlight{
    padding: 8% 0;
    font-size: 1.5em;
}

.welcome-bottom-heightlight{
    padding: 8%;
    font-size: 1.8em;
    color: #5B5B5B;
}
.welcome-bottom-image{
    bottom: -120px;
    right: 0;
    position: absolute;
}


.hire-button {
  padding: 10px 0px;
}

ul.rating li {
  display: inline;
  border: 0px;
  background: none;
  padding: 5px 2px;
}

.rating {
  color: #FCDF81;
}

.service-rates {
  font-size: 1.3em!important;
}

.no-y-padding {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.search-result>a:first-child {
    padding: inherit;
}

.map{
    width:100%;
    height:300px;
}

.loading-container .loading {
    background-color: inherit;
}