<ion-view title="Confirm payment 1/2">
  <ion-content padding="true">
   <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Payment amount</span>
        <input id="theprice" type="number" placeholder="Payment amount" ng-model="defaultPrice">
      </label>
      <div class="padding">
        <button class="button button-block button-positive" ng-click="goToHostedTransactions()">Next step...</button>
      </div>
    </div>
  </ion-content>
</ion-view>
