<ion-view title="Confirm payment 2/2">
  <ion-content padding="true">

<script type="text/javascript"
        src="https://www.simplify.com/commerce/simplify.pay.js"></script>
<button data-sc-key="sbpb_OTQxMzRiZjMtM2UwYy00MGEwLTk1OWMtYTkwODQ0NzhiOTZi"
        data-name="Jasmine Green Tea"
        data-description="Smooth tea with a rich jasmine bouquet"
        data-reference="99999"
        data-amount="3000"
        data-color="#12B830"
        data-redirect-url="http://www.google.com">
        Buy Now
</button>
  </ion-content>
</ion-view>
