<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view>
    <ion-nav-title>
        <span class="dark">SUP<span class='bold'>EERS</span></span>
    </ion-nav-title>
  <ion-content >
    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">
          Find
        </div>
        <select>
          <option selected>Housekeeper</option>
        </select>
      </label>
    </div>

      <ion-list ng-repeat="service in services">
          <ion-item class="search-result" href="#/service-details/{{service.id}}">

              <div class="item item-avatar no-border">
                  <img src="{{service.face}}">
                  <div style="float: right">
                      <p class="service-rates">
                          {{service.rate}} $ / h
                      </p>
                      <p class="item-note">
                          0.1 km
                      </p>
                  </div>
                  <h2>{{service.name}}</h2>
                  <p>{{service.category}}</p>
                  <rating class="rating" ng-model="service.ratingAverage" max="5"></rating>
              </div>

          </ion-item>
      </ion-list>

  </ion-content>
</ion-view>
