<ion-view>
  <ion-nav-title class="welcome-title">
    <span class="dark">SUP<span class='bold'>EERS</span></span>
  </ion-nav-title>
  <ion-content>
     <div id="welcome-top">
         <div class="welcome-top-text">Find a <span class="color-underline">service</span> provider near you <span class="color-underline">effortlessly</span></div>
         <div class="select-wrapper">
           <select>
             <option>Choose a category</option>
             <option>asdas</option>
             <option>asdas</option>
           </select>
         </div>
     </div>
     <div id="welcome-center">
        <div class="welcome-center-hightlight">
           Fast. Simple. Secure.
        </div>
        <div class="welcome-center-text">
          Make a secure Mastercard transaction with a small retailer near you who can offers you help faster.
        </div>
     </div>
  </ion-content>
</ion-view>
