<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

<style>
  html, body, #my-hosted-form{
    height:100%;
    width: 100%;
    border: none;
    margin:0;
  }
</style>
</head>

<body>
  <script type="text/javascript"
        src="https://www.simplify.com/commerce/simplify.pay.js"></script>

  <header style=" padding: 15px"><a href="http://localhost:8100/#/client/requests">Back</a> </header>

<iframe style="height:100%; width:100%;"name="my-hosted-form"
        data-sc-key="sbpb_NzYxNTBmZjctM2ZlNS00Mjg5LTgxMzItODg2ZGIyOWU1M2Iw"
        data-name="Jasmine Green Tea"
        data-description="Smooth tea with a rich jasmine bouquet"
        data-reference="99999"
        data-amount="<%= amount %>"
        data-color="#12B830">
</iframe>

<script>
    SimplifyCommerce.hostedPayments(
        function(response) {
            // response handler
            console.log(response);
            window.location = 'http://localhost:8100/#/merchant/done';
        }
    );
</script>


</body>
</html>
